*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
scroll-behavior:smooth;
}


body{

background:#f7f2e8;
color:#1b1815;

font-family:Inter,sans-serif;

}


h1,h2,h3{

font-family:"Cormorant Garamond",serif;
font-weight:500;

}



header{

position:fixed;
top:0;
left:0;
width:100%;

padding:35px 8%;

display:flex;
justify-content:space-between;

z-index:20;

color:white;

backdrop-filter:blur(10px);

}



.logo{

letter-spacing:5px;

}



nav a{

color:white;
text-decoration:none;

margin-left:30px;

font-size:14px;

}




.hero{

height:100vh;
position:relative;

display:flex;
align-items:center;
justify-content:center;

color:white;

overflow:hidden;

}



.hero-image{

position:absolute;
width:100%;
height:100%;

object-fit:cover;

animation:zoom 18s infinite alternate;

}



@keyframes zoom{

from{
transform:scale(1);
}

to{
transform:scale(1.1);
}

}



.hero-overlay{

position:absolute;
inset:0;

background:
linear-gradient(
90deg,
rgba(0,0,0,.75),
rgba(0,0,0,.3)
);

}




.hero-content{

position:relative;

text-align:center;

}



.small{

letter-spacing:5px;
font-size:12px;

margin-bottom:30px;

}



.hero h1{

font-size:120px;
line-height:.8;

}



.hero h2{

font-size:40px;

margin:40px 0;

}



button{

padding:18px 45px;

border:none;

background:#c5a46d;

color:white;

letter-spacing:2px;

cursor:pointer;

}



.concept{

margin-top:30px;
opacity:.6;

}




.intro{

padding:140px 10%;

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

}



.intro h2,
.title h2,
.timeline h2,
.circle h2,
.app h2{

font-size:70px;

}




.intro p:last-child{

line-height:2;

font-size:20px;

}





.journal{

padding:100px 8%;

}



.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:70px;

}



.card img{

width:100%;
height:450px;

object-fit:cover;

}



.card h3{

font-size:35px;

margin-top:25px;

}



.card p{

line-height:1.8;

}




.timeline,
.circle{

padding:130px 8%;

text-align:center;

}



.steps,
.membership{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

margin-top:70px;

}



.steps span{

color:#b28c52;

font-size:30px;

}




.circle{

background:#171512;

color:white;

}




.membership div{

border:1px solid #77613c;

padding:50px;

}





.app{

padding:130px 8%;

display:flex;

align-items:center;

gap:100px;

}



.phone{

width:320px;
height:650px;

background:#111;

border-radius:40px;

padding:20px;

}



.screen{

height:100%;
background:#f7f2e8;

padding:40px;

border-radius:30px;

}



.fake-card{

background:white;

padding:20px;

margin-top:20px;

}





footer{

padding:50px;

background:#111;

color:white;

text-align:center;

}




.reveal{

opacity:0;

transform:translateY(40px);

transition:1s;

}


.reveal.active{

opacity:1;

transform:none;

}




@media(max-width:800px){


nav{
display:none;
}


.hero h1{

font-size:80px;

}


.intro,
.cards,
.steps,
.membership,
.app{

grid-template-columns:1fr;
display:grid;

}


.intro h2,
.title h2,
.timeline h2,
.circle h2,
.app h2{

font-size:45px;

}

}